<%- include('partials/header') %>

    <main>

        <!-- Intro START -->

            <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
                <div class="col-12 col-lg-6">
                <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
                </div>
            
                <div class="col-12 col-lg-6">
                <h1 class="display-5 fw-bold mb-3">Huge selection of delicios recipe ideas</h1>
                <p class="lead">
                    Explore our huge selection of delicious recipe ideas including; easy desserts, delicious vegan and vegetarian dinner ideas, gorgeous pasta recipes, quick bakes, family-friendly meals and gluten-free recipes.
                </p>      
                </div>
            </div>

        <!-- Intro END -->

        
        <!-- Categories Start -->
        <h1 class="py-4 pb-1">Recherche par categorie</h1>
                <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

                    <% if(categories != '') { %>
                        <% for (const c of categories) { %>
                            <a href="/category/<%- c.id %>" class="col text-center category__link">
                            <div class="category__img shadow">
                                <img src="img/<%- c.picture %>" alt="<%- c.name %>" loading="lazy">
                            </div>
                            <div class="pt-1"><%- c.name %></div>
                            </a>
                        <% } %>
                    <% } %>       
                </div>
        <!-- Categories End -->

        <!-- Levels Start -->
        <h1 class="py-4 pb-1">Recherche par niveau de difficulté</h1>
                <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

                    <% if(levels != '') { %>
                        <% for (const l of levels) { %>
                            <a href="/level/<%- l.id %>" class="col text-center category__link">
                            <div class="category__img shadow">
                                <img src="img/<%- l.picture %>" alt="<%- l.name %>" loading="lazy">
                            </div>
                            <div class="pt-1"><%- l.name %></div>
                            </a>
                        <% } %>
                    <% } %>       
                </div>
        <!-- Levels End -->

        <!-- Latest Start -->

        <h1 class="py-4 pb-1">Les 10 dernières recettes</h1>

            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-4">
            <% if(recipes != '') { %>
                <% for (const r of recipes) { %>
                    <a href="/recipe/<%= r.id %>" class="col text-center category__link">
                    <div class="category__img category__img--large shadow">
                        <img src="/uploads/<%= r.picture %>" alt="<%= r.title %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%= r.title %></div>
                    </a>
                <% } %>
            <% } else { %>
                <p>No items found.</p>
            <% } %> 
        </div>

        <!-- Latest End -->

    </main>

<%- include('partials/footer') %>
