<%- include('partials/header') %>

<main>


<% if(recipe != null ) { %>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%- recipe.title %></li>
      </ol>
    </nav>
  
  
    <div class="row">
  
      <div class="col-12 col-md-4">
        <img src="/uploads/images/<%- recipe.picture %>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- recipe.title %>" loading="lazy">
      </div>
  
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12"><h1><%- recipe.title %></h1></div>
          <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- recipe.category.name %> <i class="bi bi-bar-chart-fill"></i> <%- recipe.level.name %></div>
          <div class="col-12" style="white-space: pre-line;">
            <h4>Ingrédients</h4>
            <%- recipe.ingredients %>
          </div>
        </div>
  
        <div class="row pt-4">
          <div class="col-12" style="white-space: pre-line;">
            <h4>Préparation</h4>
            <%- recipe.instructions %>
          </div>
        </div>
      </div>
    </div>
  <% } else { %>
    <p>No item found.</p>
  <% } %>


</main>

  <%- include('partials/footer') %>